<%- include('partials/header') %>

<aside class="col-md-3">
  <h2>Coming Soon</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</aside>

<section class="main col-md-9">
  <article>
    <h2>About</h2>
    <p>I'm a student at Seneca College. I like programming and creating applications.</p>
    <p>I'm 23 years old and like traveling and exploring new places around the world.</p>
    <p>After I graduate, I hope to find a job in IT. It seems very interesting and has lots of potential.</p>
    <p>This assignment is very fun and educational.</p>
    <p>Nullam vulputate lectus at nisi euismod, nec consectetur lorem elementum...</p>
  </article>
</section>

<%- include('partials/footer') %>
